.headerItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    user-select: none;
    cursor: pointer;
    overflow: hidden;
    color: #5E5E5E;
}

.headerItem:hover {
    color: rgb(20, 20, 20);
}

.headerItem__icon {
    transform: translateY(10px);
    object-fit: contain;
}

.headerItem__title {
    font-size: 12px;
    font-weight: 400;
}